.carousel-indicators {
	counter-reset:li; /* Инициализируем счетчик */
	right: 0;
	bottom: -10px;
	margin: 0;
	margin-left: 100px;
}
.carousel-indicators li{
	border: none;
	height: 27px;
	width: 27px;
	position:relative; /* Создаем контекст для позиционирования элементов */
  margin:0 0 6px 10px; /* Даем каждому элементу списка отступ слева, что бы освободить пространство для нумерации */
  padding:4px 8px;
}
.carousel-indicators li::before{
	 content:counter(li); /* В качестве данных используем счетчик */
    counter-increment:li; /* Увеличиваем значение счетчика на 1 */
    /* Позиционируем и стилизируем цифры */
    position:absolute;
    top:-3px;
    left:512px;
    padding:4px 0;
    color:#cbcdd0;
    font-weight:700;
    text-align:center;
}
.carousel-indicators li.active::before{
	color: #fff;
}
.carousel-indicators li.active{
	margin:0 0 6px 10px;
	background: #64a4d7;
	height: 27px;
	width: 27px; 
}